app-web/elm-stuff/
app-web/node_modules/
app-web/screenshot/
app-web/diff/
app-web/report.html
app-web/reg.json
app-web/main.js

backend/.bloop/
backend/.metals/
backend/project/target/
backend/project/project/
backend/target

.metals/